<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h3>Homepage!</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores vero, quibusdam alias recusandae iure est maiores,
    numquam vel error minus dignissimos labore modi fugit ex! Vitae aspernatur fuga quos. Necessitatibus.</p>
</body>

</html>