<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Random</title>
</head>

<body>
  <h1>Random number: <%= num %>
  </h1>
  <h1>
    <%= num%2===0 ? "Genap" : "Ganjil" %>
  </h1>

  <% if(num % 2===0) { %>
    <p style="font-size: 3rem;">Genap</p>
    <% } else {%>
      <p style="font-size: 3rem;">Ganjil</p>
      <% } %>
</body>

</html>